.header{
    display: flex;
    padding: 0.7rem 1rem;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: blue;
}

.header__links{
    display: flex;
    gap: 1rem;
}

.header__valute{
    display: flex;
    gap: 0.5rem;
}
